# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [30]:
import pandas as pd 
df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')

In [31]:
df.columns = df.columns.str.lower().str.strip().str.replace(' ','_')
df.head(2)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN

In [32]:
df.drop('unnamed:_0', axis=1, inplace=True)
df.shape

(10910, 25)

In [33]:
# Presence of NaN

print(df.isna().sum()) # there are similar amount of NaN values in six columns, let's drop them since they dont represent big data%
df.dropna(subset=['state','response','months_since_last_claim','number_of_open_complaints','vehicle_class','vehicle_size'], inplace=True)
print(df.isna().sum()) #now we have only NaN in vehicle_type
print(df['vehicle_type'].unique()) # we have actually either NaN or 'A', so this column is not informative, let's drop it
df.drop(['vehicle_type'], axis=1, inplace=True)

customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64
customer                            0
state                               0
customer_lifetime_value             0
response                            0
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim             0
months_since_policy_inception       0
number_of_open_complaints           0
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                       0
vehicle_size                        0
vehicle_type                     4591
dtype: int64
[nan 'A']

In [34]:
# Presence of duplicates

df.duplicated().sum() # there's no duplicates

0

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [41]:
df_2 = df[(df['total_claim_amount'] > 1000) & (df['response'] == 'Yes')].reset_index()
df_2.head(4)

,index,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,189,OK31456,California,11009.13049,Yes,Premium,Bachelor,1/24/11,Employed,F,...,43,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize
1,236,YJ16163,Oregon,11009.13049,Yes,Premium,Bachelor,1/24/11,Employed,F,...,43,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize
2,419,GW43195,Oregon,25807.06300,Yes,Extended,College,2/13/11,Employed,F,...,89,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small
3,442,IP94270,Arizona,13736.13250,Yes,Premium,Master,2/13/11,Disabled,F,...,79,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [45]:
df_yes = df[df['response'] == 'Yes']
df_yes.groupby(['policy_type','gender'])['total_claim_amount'].mean()

# Results show that for those customer who responded 'Yes', the average total claim amount is higher in females holding either the policy type 
# 'special auto' or 'personal auto' than those holding the policy type 'corporate auto'. On the other hand, males holding the policy type 'personal
# auto' display the higher total claim amount than those with the 'corporate auto' or 'special auto'.

policy_type     gender
Corporate Auto  F         431.480117
                M         412.756888
Personal Auto   F         454.089997
                M         453.603715
Special Auto    F         455.648867
                M         414.799291
Name: total_claim_amount, dtype: float64

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [60]:
df.groupby('state')['customer'].count() # in all states there are more than 500 customers.

state
Arizona       1703
California    3150
Nevada         882
Oregon        2601
Washington     798
Name: customer, dtype: int64

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [64]:
df.groupby(['education','gender'])['customer_lifetime_value'].agg(['max', 'min', 'median'])
# In females, customer lifetime value median is higher with 'high school or below' education level, as well as in males. On the other hand, maximum
# values for both males and females with 'Doctor' education level are lower than for the rest of education levels. Higher maximum values for females 
# are detected with 'Bachelor' edcuation level, meanwhile those for males are found in 'High school or below' education level. Minimum values are
# quite similar across genders and education levels.

                                     max          min       median
education            gender
Bachelor             F       73225.95652  1904.000852  5678.050167
                     M       67907.27050  1898.007675  5555.830205
College              F       61850.18803  1898.683686  5621.789489
                     M       61134.68307  1918.119700  5989.773931
Doctor               F       44856.11397  2395.570000  5332.462694
                     M       32677.34284  2267.604038  5620.587184
High School or Below F       55277.44589  2144.921535  6044.020038
                     M       83325.38119  1940.981221  6176.700392
Master               F       51016.06704  2417.777032  5801.128252
                     M       50568.25912  2272.307310  5617.956917

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [35]:
# your code goes here